# presets.
**/*.env
**/*.htaccess
**/env/
**/.DS_Store
**/*.zip
**/*.doc
**/*.docx
**/*.ppt
**/*.pptx
**/*.out
**/.vscode/
**/*.pdf
**/*.class
**/node_modules/
**/__pycache__/
**/build/
**/dist/

# custom.
database/process/data/
program/engine.spec